<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="utf-8">
	<title>VisualQ</title>
	<link type="text/css" rel="stylesheet" href="../assets/bootstrap-4.3.1-dist/css/bootstrap.min.css">
	<link type="text/css" rel="stylesheet" href="../assets/slick/slick.css">
	<link type="text/css" rel="stylesheet" href="../assets/slick/slick-theme.css">
	<link type="text/css" rel="stylesheet" href="../css/main.css">
	<link type="text/css" rel="stylesheet" href="../css/side-bar.css">
	<link type="text/css" rel="stylesheet" href="/css/slider.css">
</head>
<body>
	<div class="wrapper">
		<nav id="sidebar">
			<div class="sidebar-header">
				<h3>Projetos</h3>
			</div>
			<ul class="list-unstyled components">
				<li><a href="../visualq/visualq.html">VisualQ</a></li>
			</ul>
		</nav>
		<div id="content">
			<nav class="navbar navbar-expand-lg navbar-light bg-light">
				<div class="container-fluid">
					<button class="navbar-btn" id="sidebarCollapse" type="button"><span></span><span></span><span></span></button>
					<h2>VisualQ</h2>
				</div>
			</nav>
			<div class="container" id="main-container">
				<div class="row d-flex justify-content-center">
					<div class="col-md-12">
						<div class="col-md-12 slider-container p-3">
							<div class="slider-container-item p-3">
								<h1>Introdução</h1>
								<div class="col-md-12 d-flex justify-content-center">
									<p>
										O VisualQ foi criado com o intuito de ajudar pessoas com dificuldades na matéria de Química, que buscam um aprendizado mais dinâmico e prático podendo visualizar o átomo desejado a partir de cards marcadores. O desenvolvimento do AR (Augmented Reality) foi feito totalmente em IOS.
									</p>
								</div>
							</div>
							<div class="slider-container-item p-3">
								<h1>Câmera</h1>
								<div class="col-md-12 d-flex justify-content-center">
									<video autoplay="true" id="videoElement"></video>
								</div>
								<div class="col-md-12 d-flex justify-content-center mt-2">
									<!--<div class="d-flex justify-content-center align-items-center btn-circle">
										<i class="fas fa-camera"></i>
									</div>-->
								</div>
							</div>
							<div class="slider-container-item p-3">
								<h1>Ajuda</h1>
								<div class="col-md-12 d-flex justify-content-center">
									<p>
										A utilização do app tem uma utilização simples. selecione o ícone <i class="fas fa-camera"></i> no menu inferior, aponte a câmera para o card marcador para visualizar o átomo.
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row d-flex justify-content-center">
					<div class="col-md-6">
						<nav class="navbar navbar-expand-lg navbar-light bg-light slider-nav">
							<div class="d-flex justify-content-center align-items-center slider-nav-item inverted"><i class="fas fa-info"></i></div>
							<div class="d-flex justify-content-center align-items-center slider-nav-item"><i class="fas fa-camera"></i></div>
							<div class="d-flex justify-content-center align-items-center slider-nav-item"><i class="fas fa-question"></i></div>
						</nav>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="../assets/jquery-3.4.1/jquery-3.4.1.min.js"></script>
	<script src="../assets/bootstrap-4.3.1-dist/js/bootstrap.min.js"></script>
	<script src="../assets/bootstrap-4.3.1-dist/js/bootstrap.min.js"></script>
	<script src="../assets/fontawesome-free-5.11.2-web/js/solid.min.js"></script>
	<script src="../assets/fontawesome-free-5.11.2-web/js/fontawesome.min.js"></script>
	<script src="../assets/popper/popper.min.js"></script>
	<script src="../assets/slick/slick.min.js"></script>
	<script src="../js/side-bar.js"></script>
	<script src="js/slider.js"></script>
	<script src="js/camera.js"></script>
</body>
</html>